.menu-item {
    background: black;
    border: 2px solid orange;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: orange;
    padding:  1% 1% 1% 1%;;
    font-family:Arial, Helvetica, sans-serif ;
}

.menu-item .submenu {
    height: 40px;
    width: 120px;
    border: 2px solid orange;
    background: black;
    color: orange;
    position: relative;
    cursor: pointer;
    border-radius: 0px;
    height: 50p;
    margin-top: 10%;
}